<body>
    <div class="container marketing">
        <div class="jumbotron jumbotron-fluid">
            <h1>Geovanny Ramirez</h1>
            <hr>
            <h5>Web. Dev Student</h5>
            <br>
            <h6>About Me</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan vulputate 
                ultrices. Nullam eget pellentesque leo. Vivamus dictum tellus vitae feugiat condimentum. 
                Vestibulum tempor dui vel enim faucibus, id tristique libero mattis. Praesent placerat 
                felis in sapien viverra, congue aliquet massa consequat. Vestibulum placerat maximus metus 
                quis pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse potenti.
                nissim sagittis justo vel faucibus. Orci varius natoque penatibus et magnis dis parturient montes,
                nascetur ridiculus mus. Phasellus sit amet velit tincidunt, egestas augue vitae, mattis justo. 
                Maecenas sit amet congue leo. Fusce nulla augue, vehicula vel commodo quis, eleifend et odio. 
                Nullam a orci pharetra, malesuada purus in, ultrices sem.
            </p>
        </div>
    </div>
</body>