<body>
    <div class="container marketing">
        <div class="row">
            <h2>
                Projects Portfolio
            </h2>
        </div>
        <hr>
        <div class="row row-cols-3">
            <div class="card text-center" *ngFor="let project of projects">
                <img class="card-img-top" src="{{url+'getImg/'+project.image}}" alt="projectImg">
                <div class="card-body">
                <h5 class="card-title" style="font-weight: bold;">{{project.name}}</h5>
                <p class="card-text">{{project.description | truncate}}</p>
                <a [routerLink]="['/project', project._id]"class="btn btn-primary">View Detail</a>
                </div>
            </div>
        </div>
    </div>
</body>